/* Global Styles */
body{
    background-color: #D9ABA0;
    font-size: 17px; 
}
img{ 
    display: block;
    margin: 0px auto;
    border-radius: 10px;
    max-width: 100%;
}

/* mobile styles */

#container{
    margin: 2px ;
    background-color:#D9ABA0;


}

header{
    background-color:#a87373 ;
}

header img{
    width: 45%;
    display:block;
    margin: 0px auto;
}

nav{
    background-color:#a87373;
    text-align: center ;
    padding: 10px;
   
}

nav ul{
    list-style-type: none;
    padding:0;

}
nav li{
    display: block;
}
nav li a{
    background-color:#D9ABA0;
    color: #a87373;
    display: block;
    text-align: center;
    height: 20px; 
    line-height: 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0 ;
    border-radius: 10px;
}
nav a:hover{
    background-color: #D9ABA0;
}

h1{
    text-align: center;
    color:white;
    font-family: 'Times New Roman';
    padding-top: 2%;
}

h2{ 
    text-align: center;
    color:white;
    font-family: 'Times New Roman';
    font-size: 40px;
}
h3{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Times New Roman', Times, serif;
}
.artbiotext{
    font-size: 1.2em;
    padding-left: 4%;
    padding-right: 4%;
}

a.fb{
    display:inline-block;
    background-color: #F2B84B;
    border-radius: 50%;
    font-size: 1em;
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3%;
    padding-left: 3%;
}
a.insta{
    display:inline-block;
    background-color: #F2B84B;
    border-radius: 50%;
    font-size: 1em;
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3%;
    padding-left: 3%;
}
a.what{
    display:inline-block;
    background-color:#F2B84B;
    border-radius: 50%;
    font-size: 1em;
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3%;
    padding-left: 3%;
}
a.fb:hover{
    background-color: black;
    
}
a.insta:hover{
    background-color: black;
}
a.what:hover{
    background-color: black;
}

main{
    background-color: #D9ABA0;
margin: 0 auto;
width: 100%;

}




 img.facebook{
    width: 90%;

}
img.flower{
    width:100%;
    border-radius: 0%;
}
     footer{
        background-color:#a87373 ;
        border-radius: 0 0 5px 5px;
        text-align: center;
        padding:20px;
    }


    .lower_flex{
        display: flex;
        padding-top:1%;
        Padding-bottom:5%; 
        justify-content: center;
        width:100%;
        background-color: #D9ABA0;
    }

    .col {
        padding: 20px;
        margin:20px
    
    }

      .selfportrait{
          width: 30%;
      }

      .urbandecayportrait{
          width: 30%;
      }
      .smrow {
        display: flex;
        width:100%;
        justify-content:center;
        padding-bottom:3%;
        Padding-top:2%;
      }
      
    
      .spencerleft{
          width:90%
      }
      .spencerright{
          width:90%; 
      }
      .bridesmaid1{
          width:95%;
      }
    
      .piclinks{
          width: 85%;
          padding-top: 3%;
          padding-bottom: 5%;
      }
/* Tablet Styles */
      @media(min-width:768px) {
        #container{
            background-color:#D9ABA0;
            margin: 2px auto;
           
            
        }
        
        header{
            background-color:#a87373 ;
            
          
        }
        
        header img{
            width: 45%;
            display:block;
            margin: 0px auto;
        }
        
        nav{
            background-color:#a87373;
            text-align: center ;
            padding: 10px;
           
        }
        
        nav ul{
            list-style-type: none;
            padding:0;
        
        }
        nav li{
            display: block;
        }
        nav li a{
            background-color:#D9ABA0;
            color: #a87373;
            display: block;
            text-align: center;
            height: 20px; 
            line-height: 20px;
            text-decoration: none;
            font-size: 1.2em;
            margin: 10px 0 ;
            border-radius: 10px;
        }
        nav a:hover{
            background-color: #D9ABA0;
        }
        
        h1{
            text-align: center;
            color:white;
            font-family: 'Times New Roman';
            padding-top: 2%;
        }
        
        h2{ 
            text-align: center;
            color:white;
            font-family: 'Times New Roman';
            font-size: 40px;
        }
        h3{
            text-align: center;
            color:white;
            font-family: 'Times New Roman', Times, serif;
        }
        p{
            font-size: 1.3em;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 4%;
            padding-right: 4%;
        }
        a.fb{
            display:inline-block;
            background-color: #F2B84B;
            border-radius: 50%;
            font-size: 1em;
            color:white;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 3%;
            padding-left: 3%;
        }
        a.insta{
            display:inline-block;
            background-color: #F2B84B;
            border-radius: 50%;
            font-size: 1em;
            color:white;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 3%;
            padding-left: 3%;
        }
        a.what{
            display:inline-block;
            background-color:#F2B84B;
            border-radius: 50%;
            font-size: 1em;
            color:white;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 3%;
            padding-left: 3%;
        }
        a.fb:hover{
            background-color: black;
            
        }
        a.insta:hover{
            background-color: black;
        }
        a.what:hover{
            background-color: black;
        }
        main{
            background-color: #D9ABA0;
        margin: 0 auto;
        width: 100%;
        }
        
        main img{ 
            width: 100%;
            display: block;
            margin: 20px auto;
            border-radius: 10px;
            max-width: 100%;
        }
        
        
         img.facebook{
            width: 90%;
        
        }
        img.flower{
            width:100%;
        }
             footer{
                background-color:#a87373 ;
                text-align: center;
                padding:20px;
            }
        
        
        
            .col {
                
                Padding-bottom:3%; 
                margin:0%;
                display:inline-block;
            
            }
        
             
              .smrow {
                display: flex;
                width:100%;
                justify-content:center;
                padding-bottom:3%;
                Padding-top:2%;
              }
              
              .spencerleft{
                width:90%
            }
              .spencerright{
                width:90%; 
            }
              .bridesmaid1{
                width:95%;
            }
          
              .piclinks{
                width: 65%;
                padding-top: 3%;
                padding-bottom: 5%;
            }
      }
      /* Laptop Styles*/ 
      @media(min-width: 1024px){
        #container{
            width: 100%;
            background-color:#D9ABA0;
            margin: 0px auto;
           
          
        }
        header{
            background-color:#a87373;
            border-radius: 5px 5px 0 0;
          
        }
        header img{
            width: 25%;
            display:block;
            margin: 0px auto;
        }
        
        nav{
            background-color:#a87373;
            
            padding: 8px;
           
        }
        
        nav ul{
            list-style-type: none;
            padding:3%;
        
        }
        nav li{
            display: inline;
            padding: 3%;

        }
        nav li a{
            background-color: #a87373;
            color:#D9ABA0;
            display: inline;
            text-align: center;
            text-decoration: none;
            font-size: 4em;
            margin: 10px 0 ;
            padding: 1%;
          
         
        }
        nav a:hover{
            background-color: #D9ABA0;
            color:#a87373;
        }
        
        
        h1{
            text-align: center;
            color:white;
            font-family: 'Times New Roman';
            padding-top: 2%;
            font-size: 5em;
        }
        
        h2{ 
            text-align: center;
            color:white;
            font-family: 'Times New Roman';
            font-size: 4em;
        }
        h3{
            text-align: center;
            color:white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 3em;
        }
        p{
            font-size: 2.8em;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 4%;
            padding-right: 4%; 
        }
        .artbiotext{
            font-size: 2.8em;
            padding-left: 4%;
            padding-right: 4%;
        }
        
        main{
        background-color: #D9ABA0;
        margin: 0 auto;
        width: 100%;
        }
        
        main img{ 
            width: 100%;
            display: block;
            margin: 20px auto;
            border-radius: 10px;
            max-width: 100%;
        }
        
        
         img.facebook{
            width: 60%;
        
        }
        img.flower{
            width:100%;
        }
             footer{
                background-color:#a87373;
                text-align: center;
                padding:25px;
                font-size: 2em;
            }
        
        
            .flex{
                display: flex;
            }
        
            .col {
               margin: 18px;
               width: 28%;
            
            }

              .smrow {
                display: flex;
                width:100%;
                justify-content:center;
                padding-bottom:3%;
                Padding-top:2%;
              }
              .piclinks{
                width: 45%;
                padding-top: 3%;
                padding-bottom: 3%;
            }
              
      }