body{
    background-color: #D9CBBF;
    font-size: 18px; 
    font-family: 'Oswald', sans-serif;
}

img{ 
    display:block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    width:100%;
 background-color: #BFAC9B;
}

header{
    padding: 15px ;
    border-bottom: 5px solid #730202;
    background-color: #262626;
}

header h1{
 text-align: center;
 font-size: 2.5em;
 font-family: 'Libre Baskerville', serif;
 color:#D9CBBF;
}

.col {
    border: 2px dotted #401E01;
    padding: 20px; 
    margin: 20px; 
    border-radius: 20px;

}

.col h2 {
    text-align: center;
    font-size: 2em;
}
.col h4{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}
.col p{
    text-align: center;
}
.col img {
    width: 50%;

}
.main_img{
    display: none;
}
footer{
    background-color: #262626;
    padding: 40px 0;
    text-align: center;
    border-top: 5px solid #730202;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
}
h5{
    color: #D9CBBF;
}

@media(min-width: 768px) {
    #container{
    width: 98%;
    margin: 0 auto;
    }
    .col{ 
        width: 65%;
        margin: 0 auto;
        padding: 40px;
    }
    .col img{ 
        width: 30%;

    }
}

@media(min-width: 1024px){
    #container{
        width: 98%;
        border-radius: 20px;
    }
    #flex{
        display: flex;

    }
    .col{
        margin: 20px;
    }
    .col img{
        width: 60%;
    }
    .main_img{
        display:block;
        width: 50%;
        margin: 20px auto; 
    }
}